body{
    background-color: royalblue;
    background-image: url(phone.jpg);
    background-repeat: no-repeat;
    border-radius: 100%;
    width: 50%;
    height: 70%;
    background-size: 100px;
    background-position: center;
}
.main{
    background-color: whitesmoke;
    top: 0;
    left: 0;
    width: 35%;
    height: 100%;
    position: fixed;
}